body {
    padding: 0;
    margin: 0;
}


#gamebox{

    border-style: solid;
    border-color: #f4e04d;
    background-color:#f4e04d;

    padding: 3px;
    margin: 10px;

    border-radius: 5px;
    height: 600px;
    width: 1200px;
    overflow: auto;
    position: fixed;
    
}

.menu, #HideMenuButton{


    background-color: #8db1ab71;
    color: #f4e04d;

    text-align: center;

    border-style: solid;
    border-left-style: none;    
    border-color: #f4e04d ;
    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11pt;

}


/*HIDE ARROWS OF NUMBER INPUT*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}